<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>efun</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>servlet</servlet-name>
    <servlet-class>servlet.Denglu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet1</servlet-name>
    <servlet-class>servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet1</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForumServlet</servlet-name>
    <servlet-class>servlet.Forum_posts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForumServlet</servlet-name>
    <url-pattern>/Forum</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>servlet.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VideoServlet</servlet-name>
    <servlet-class>servlet.Video</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoServlet</servlet-name>
    <url-pattern>/Video</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>startClassServlet</servlet-name>
    <servlet-class>servlet.startClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>startClassServlet</servlet-name>
    <url-pattern>/startClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ceyanzhongxinServlet</servlet-name>
    <servlet-class>servlet.ceyanzhongxin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ceyanzhongxinServlet</servlet-name>
    <url-pattern>/ceyanzhongxin</url-pattern>
  </servlet-mapping>
</web-app>